.header {
  text-align: center;
  font-size: 20pt;
}

.motos-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.moto-list-item{
  max-width: 100%;
  width: 30%;
  max-height: 100%;
  height: 30%;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  text-align: right;
}

.image{
  width: 90%;
  margin: 20px 20px 20px 20px;
  }

.title{
  font-size: 12pt;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.description {
  text-align: left;
  max-width: 200px;
  max-height: 200px;
  font-size: 10pt;
  float: right;
  margin-bottom: 35pt;
}
.moto-list-item:hover{
  transition-duration: .5s;
 -webkit-box-shadow: 0 0.5px 0.5px 0.5px rgba(252, 248, 248, 0.904), 0 0.5px 0.5px 0.5px rgba(252, 248, 248, 0.904); 
 -moz-box-shadow: 0 0.5px 0.5px 0.5px rgba(252, 248, 248, 0.904), 0 0.5px 0.5px 0.5px rgba(252, 248, 248, 0.904); 
 box-shadow: 0 0 15px rgba(209, 207, 207, 0.5);; 
}
.fixedImg{
  position: fixed;
  top: 5px;
  left: 10px;
  width: 50px;
}
.fixblock{
  position: fixed;
  background-color: rgb(219, 219, 223);
  width: 100%;
  height: 40pt;
  top: 0px;
}
.price{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  font-size: 15pt;
  text-align: center;
}