.counter{
  float: right;
  width: 20px;
  height: 20px;
  background-color: crimson;
  color: black;
  margin-top: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  text-align: center;
}
.fixblock{
  position: fixed;
  background-color: rgb(219, 219, 223);
  width: 100%;
  height: 40pt;
  top: 0px;
}
.fixedImg{
  position: fixed;
  top: 5px;
  left: 10px;
  width: 50px;
}